button {
    font-weight: bold;
    font-size: 15px;
}

label {
    font-weight: bold;
    font-size: 18px;
}

select {
    width: 615px;
}

input {
    width: 615px;
}

h1 {
    color: white;
    background-color: black;
    font-weight: normal;
    font-size: 35px;
    font-family: fantasy;
}